services:
  geth:
    image: ethereum/client-go:v1.13.15
    container_name: poa-geth
    volumes:
      - ./:/data
    ports:
      - "8545:8545"
      - "30303:30303"
    command: >
      --datadir /data/geth-data --networkid 1515 --http --http.addr 0.0.0.0 --http.port 8545 --http.api eth,net,web3,personal,clique --http.corsdomain="*" --http.vhosts="*" --allow-insecure-unlock --unlock "0xb24A4b5186059462634009816eB5BAbA70f0E671" --password /data/password.txt --miner.etherbase "0xb24A4b5186059462634009816eB5BAbA70f0E671" --mine --syncmode full --ipcdisable --verbosity 3
