services:
  geth:
    image: ethereum/client-go:v1.13.15
    container_name: poa-geth
    volumes:
      - ./:/data
    ports:
      - "8545:8545"
      - "30303:30303"
    command: >
      --datadir /data/geth-data
      --networkid 1515
      --http --http.addr 0.0.0.0 --http.port 8545
      --http.api eth,net,web3,personal,clique
      --http.corsdomain="*"
      --http.vhosts="*"
      --allow-insecure-unlock
      --unlock "0xAcf2104b946dc9D4cEf0F20f9c14Ef80A75E3076,0x1F9314416DdA450d81b1474BC5Ce0D92dd051184"
      --password /data/password.txt
      --miner.etherbase "0xAcf2104b946dc9D4cEf0F20f9c14Ef80A75E3076"
      --mine
      --syncmode full
      --ipcdisable
      --verbosity 3

  ipfs:
    image: ipfs/kubo:latest
    container_name: carbon-ipfs
    ports:
      - "5001:5001"   # API
      - "8080:8080"   # Gateway
    volumes:
      - ./ipfs_data:/data/ipfs
    environment:
      - IPFS_PROFILE=server
    command: ["daemon", "--offline"]
    restart: unless-stopped
