services:
  geth:
    image: ethereum/client-go:v1.13.15
    container_name: poa-geth
    volumes:
      - ./:/data
    ports:
      - "8545:8545"
      - "30303:30303"
    command: >
      --datadir /data/geth-data
      --networkid 1515
      --http --http.addr 0.0.0.0 --http.port 8545
      --http.api eth,net,web3,personal,clique
      --http.corsdomain="*"
      --http.vhosts="*"
      --allow-insecure-unlock
      --unlock "0xb9f3a494Ffa8c959e88e22a6726C1c8efe3d6cFe,0xBAf6E1E89319760cA56Bdf6711565e38FE18CDec"
      --password /data/password.txt
      --miner.etherbase "0xb9f3a494Ffa8c959e88e22a6726C1c8efe3d6cFe"
      --mine
      --syncmode full
      --ipcdisable
      --verbosity 3

  ipfs:
    image: ipfs/kubo:latest
    container_name: carbon-ipfs
    ports:
      - "5001:5001"   # API
      - "8080:8080"   # Gateway
    volumes:
      - ./ipfs_data:/data/ipfs
    environment:
      - IPFS_PROFILE=server
    restart: unless-stopped
