services:
  geth:
    image: ethereum/client-go:v1.13.15
    container_name: poa-geth
    volumes:
      - ./:/data
    ports:
      - "8545:8545"
      - "30303:30303"
    command: >
      --datadir /data/geth-data
      --networkid 1515
      --http --http.addr 0.0.0.0 --http.port 8545
      --http.api eth,net,web3,personal,clique
      --http.corsdomain="*"
      --http.vhosts="*"
      --allow-insecure-unlock
      --unlock "0x74F7e0d5bBc9464a0D706B1C3f6ba05aFBd3acF6,0x23171eC635A21560cc046E8FcC7A9Fac83C1C8b9"
      --password /data/password.txt
      --miner.etherbase "0x74F7e0d5bBc9464a0D706B1C3f6ba05aFBd3acF6"
      --mine
      --syncmode full
      --ipcdisable
      --verbosity 3
